# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Environments
.venv
.venv_win

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Build files
build/
_build/
**.egg-info/

# Keep directory layout
!.gitkeep
